
ProjectOne/PPPPPPP/MDK-ARM/PPPPPPP.uvguix.Andre

*.Paulo
*.uvprojx

ProjectOne/bluetoothParsing/MDKARM/DebugConfig/PPPPPPP_STM32F767ZITx_2.0.0.dbgconf
ProjectOne/bluetoothParsing/MDKARM/EventRecorderStub.scvd
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP.uvguix.Andre
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP.uvguix.Paulo
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP.uvguix.Paulo.bak
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP.uvoptx
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP.uvprojx
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/bluetooth_module.crf
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/bluetooth_module.d
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/bluetooth_module.o
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/ExtDll.iex
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/gpio.crf
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/gpio.d
ProjectOne/bluetoothParsing/MDKARM/PPPPPPP/gpio.o
*.o
*.d
*.crf
*.axf
*.htm
*.hex
*.lnp
*.map
*.sct
*.dep
*.lst
*.s

bluetoothParsing/MDK-ARM/PPPPPPP.uvguix.andre
bluetoothParsing/MDK-ARM/PPPPPPP.uvoptx
bluetoothParsing/MDK-ARM/PPPPPPP.uvoptx
erge/btTeste/build-btTeste-Rpi-Debug/moc_bluetooth_module.cpp
